@keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}
.Face > svg{
  display: block;
  transform-origin: bottom;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.Face .spinner-grow, .Face .spinner-border
{
  height: 4em;
  width: 4em;
}

.Face .resting, .Face .thinking{
  animation: 5s linear infinite spinner-grow !important;
}

.Face .listening, .Face .speaking {
  animation: .5s linear infinite spinner-grow !important;
}
